@font-face 
    font-family: 'Nekst'
    src: local('Nekst Black'), local('Nekst-Black'), 
    src: url('../fonts/Nekst/Nekst-Black.woff2') format('woff2'),
    src: url('../fonts/Nekst/Nekst-Black.woff') format('woff'),
    src: url('../fonts/Nekst/Nekst-Black.ttf') format('truetype'),
    font-weight: 900,
    font-style: normal
  
@font-face 
    font-family: 'Gilroy'
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
    src: url('../fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'),
    src: url('../fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
    src: url('../fonts/Gilroy/Gilroy-Regular.ttf') format('truetype')
    font-weight: 400
    font-style: normal

$basic_font: 'Nekst'
$secondary_font: 'Gilroy'

@mixin flex($direction: row, $content: space-between)
  display: flex
  flex-direction: $direction
  justify-content: $content   
  flex-wrap: wrap 

@mixin styleText($family: 'Nekst', $size: 54px, $line: 90%, $color: #111111)
  font-family: $family
  font-size: $size 
  line-height: $line
  color: $color
  
.container
  height: 100vh
  max-width: 1440px
  margin: 0 auto
  padding: 0 48px
  @include flex(column, center)

.title
  max-width: 750px
  @include styleText

.count
  margin-top: 35px
  @include flex

  &>div
    width: 425px
    display: flex
    flex-direction: column  
    position: relative

  &__subTitle
    @include styleText('Gilroy', 16px, 20px, #575757)

  &__input
    margin-top: 25px
    padding: 16px 80px 16px 24px
    width: 100%
    height: 68px
    background: #F3F3F4
    border-radius: 16px
    border: none
    @include styleText($size: 30px, $color: #575757)

    &:focus
      outline: none

  &__range
    cursor: pointer
    position: absolute
    top: 111px
    left: 24px
    width: 345px
    height: 10px
    -webkit-appearance: none
    appearance: none
    -webkit-appearance: none
    -moz-appearance: none
    outline: 0
    height: 2px
    border-radius: 40px

    &::-webkit-slider-thumb 
      -webkit-appearance: none
      width: 20px
      height: 20px
      background-color: #FF9514
      border-radius: 50%
      
      &:hover
        height: 24px
        width: 24px



.result
  margin-top: 45px
  @include flex